.root
{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    
    /*variables*/
    lapis: #2266CC;
    verydarkgrey: #292929;
    uclablue: #3388EE;
}

.button
{
	-fx-background-color: uclablue;
	-fx-text-fill: white;
    -fx-background-radius: 0.75em;
}
.button:hover
{
	-fx-background-color: derive(uclablue, 15%);
}
.button:armed
{
	-fx-background-color: derive(uclablue, -10%);
}

#error-label
{
	-fx-text-fill: red;
}